.main_content_first{
    display: flex;
    justify-content: center;
    position: relative;
    left: 173px;

    .main_content_description{
        border-radius: 20px;
        width: 1054px;
        height: 565px;
        box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
        background: #fff;

        .description_slogan_start{
            font-family: Montserrat;
            font-weight: 600;
            font-size: 48px;
            color: #06f;
            padding-top: 100px;
            padding-left: 100px;
        }

        .description_slogan_end{
            font-family: Montserrat;
            font-weight: 500;
            color: #8eb9f7;
            font-size: 48px;
            padding-left: 100px;
        }

        .description_action{
            font-family: Montserrat;
            font-weight: 600;
            font-size: 40px;
            margin-top: 40px;
            padding-left: 216px;
            color: #06f;
            margin-bottom: 20px;
        }

        .description_action_button{
            margin-left: 350px;
            border-radius: 10px;
            width: 479px;
            height: 72px;
            box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
            background: #8eb9f7;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 36px;
            text-align: center;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
                
            &:hover {
                background-color: #0066FF;
            }
        }
    }

    .illustration1{
        position: relative;
        width: 338px;
        height: 685px;
        left: -163px;
    }
}

    .main_content_second {
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        margin-top: 40px;
        position: relative;
        left: -173px;
        

        &_reasons {
        
            padding: 30px;
            max-width: 1054px;
            

            &_theme {
                font-family: Montserrat;
                font-weight: 600;
                font-size: 50px;
                text-align: center;
                color: #007bff;
                margin-bottom: 20px;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
                background: #fff;
            }

            .reasons_point {
                margin-bottom: 20px;
                border-radius: 20px;
                box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
                background: #fff;
                padding-left: 191px;
                padding-right: 147px;
                padding-top: 30px;
                padding-bottom: 30px;
                

                &_headline {
                    font-weight: 600;
                    font-size: 34px;
                    color: #06f;
                }

                &_text {
                    font-weight: 500;
                    font-size: 26px;
                    color: #8eb9f7;
                    
                }
            }
        }

        .illustration2 {
            position: relative;
            right: -200px;
        }
    }

    .main_content_third {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        // width: 100%;
        // max-width: 1054px;
        margin-top: 40px;
        // z-index: 1;
        // left: 173px;

        &_theme {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 50px;
            text-align: center;
            color: #007bff;
            margin-bottom: 40px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            min-width: 1054px;
        }

        .steps {
            display: flex;
            // flex-wrap: wrap;
            // justify-content: space-between;
            width: 100%;
            max-width: 1054px;
            align-items: normal;

            .step {
                border-radius: 20px;
                box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
                background: #fff;
                padding: 50px;
                margin-bottom: 32px;
                min-width: 415px;
                height: 455px;
                margin-right: 32px;

                &_headline {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 130%;
                    color: #06f;
                }

                &_text {
                    font-weight: 500;
                    font-size: 24px;
                    color: #8eb9f7;
                    max-width: 404px;
                }
            }
        }
        // .illustration3{
        //     position: relative;
        //     width: 338px;
        //     height: 685px;
        //     top: -1250px;
        //     left: 500px;
        //     // left: -163px;
        // }
    }
.main_content_fourth{
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    max-width: 960px;
    // height: 333px;
    padding: 50px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    flex-direction: column;
    left: 200px;
    margin-bottom: 100px;

    .fourth_headline{
        font-weight: 600;
        font-size: 38px;
        color: #06f;
        margin-bottom: 10px;
    }

    .fourth_text{
        font-weight: 500;
        font-size: 24px;
        color: #8eb9f7;
        margin-bottom: 20px;
    }

    .fourth_button{
        font-family: Montserrat;
        width: 400px;
        height: 70px;
        font-weight: 500;
        font-size: 32px;
        color: #06f;
        border: 3px solid #06f;
        border-radius: 10px;
        width: 400px;
        height: 70px;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
        background: rgba(217, 217, 217, 0);
        cursor: pointer;
        transition: background-color 0.3s;
            
        &:hover {
            background-color: #0066FF;
            color: #fff;
        }
    }
}
