.search {

  
    display: flex;
    // width: 90%;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .search_input{
      background-color: #5F9CF6;

    }

    input::placeholder{
      font-family: Montserrat;
      font-weight: 400;
      font-size: 20px;
      color: #fff;
  }
    
    &_icon {
        margin-right: 10px; 
        width: 30px;
        height: 30px;
      }
      .card_input {
        width: 100%; 
        padding: 15px; 
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 15px;
      }

      .tagsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    display: inline-block;
    background-color: #8eb9f7;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 5px;
    color: #fff;
  }

  .closeIcon {
    margin-left: 5px;
    cursor: pointer;
  }
  }
  
  