.search {

  
    display: flex;
    // width: 90%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .search_full{
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 10px;
      .search_icon{
          margin-right: 10px; 
          width: 30px;
          height: 30px;
        }

        .search_input{
          background-color: #5F9CF6;

        }

        input::placeholder{
          font-family: Montserrat;
          font-weight: 400;
          font-size: 20px;
          color: #fff;
      }
    }
    
    
      // .card_input {
      //   width: 100%; 
      //   padding: 15px; 
      //   border: none;
      //   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      //   border-radius: 5px;
      //   font-size: 15px;
      // }

      .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;

  }

  .tag {
    display: flex;
    align-items: center;
    background-color: #8eb9f7;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    color: #fff;
    font-size: 20px;
  }

  .close_icon {
    margin-left: 10px;
    cursor: pointer;


  }
  }
  
  