.user_profile {
    display: flex;
    flex-direction: column;
    // margin-top: 20px;
}



.user_status {
    font-weight: 600;
    font-size: 30px;
    color: #06f;
    font-family: Montserrat;
    margin-bottom: 20px;
}

.editingStatus {
    margin-left: 10px;
    font-weight: 400;
    font-size: 30px;
    font-family: Montserrat;
    color: #06f;
}


.tmp {
    display: flex;
}

.user_info {
    display: flex;
    flex-direction: column;
}

// .user_image {
//     max-width: 250px;
//     height: 250px;
//     width: 250px;
//     margin-right: 50px;
//     border-radius: 10px;
//     margin-bottom: 15px;
// }

.user_image img {
    max-width: 250px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 50px;
}

.edit_options {
    display: flex;
    flex-direction: column;

    .change_photo {
        border-radius: 10px;
        width: 250px;
        height: 50px;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #9ab5da;
        border: none;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover {
            background-color: #0056b3;
        }
    }

    .delete_photo {
        border-radius: 10px;
        width: 250px;
        height: 50px;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #9ab5da;
        border: none;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #0056b3;
        }
    }
}



// .buttons {
//     display: flex;
//     flex-direction: column;
//     gap: 30px;
// }

.personal_info {
    display: flex;
    max-width: 720px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    padding: 30px;
    padding-right: 43px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.info_heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #06f;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form_row {
    margin-bottom: 10px;
}

label {
    color: #06f;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    margin-left: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input_edit {
    padding-left: 13px;
    max-width: 660px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat;
    border-radius: 10px;
    background-color: #8EB9F7;
    border: none;
    color: #FFF;

    &:focus {
        outline: none;
        /* Убираем обводку при фокусе */
    }

}

.input:disabled {
    pointer-events: none;
}

.input_non_edit {
    padding-left: 13px;
    max-width: 660px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat;
    border-radius: 10px;
    background-color: #8EB9F7;
    border: none;
    color: #FFF;
}

.edit_button{
    display: flex;
    justify-content: flex-end;
    margin-right: -13px;

    .edit_profile_button {
        height: 50px;
        width: 200px;
        background-color: #9AB5DA;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: #FFF;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #06f;
        }
    }
}

.save_button {
    display: flex;
    justify-content: flex-end;
    margin-right: -13px;
}

.save_button button {
    height: 50px;
    width: 200px;
    background-color: #9AB5DA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #06f;
    }
}

.become_mentor_button {
    border-radius: 10px;
    width: 250px;
    height: 50px;
    background-color: #06f;;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #025BE0;
    }
}

.mentor_info{

    .mentor_tags{
        display: flex;

        .mentor_tags_ul {
            font-weight: 500;
            font-size: 20px;
            color: #FFF;
            margin-top: 0;
            margin-bottom: 15px;
        }

        .mentor_tags_li {
            border-radius: 50px;
            align-items: center;
            padding: 5px 10px;
            text-align: center;
            max-width: 100px;
            height: 24px;
            display: inline-flex;
            background-color: #8eb9f7;
            margin-right: 5px;
        }

        .mentor_tags_button{
            border-radius: 50px;
            padding: 5px 10px;
            max-width: 200px;
            height: 34px;
            box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
            background-color: #9ab5da;
            border: none;
            font-weight: 500;
            font-size: 20px;
            font-family: Montserrat;
            color: #FFF;
            text-align: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #06f;
            }
        }
    }
}

.textarea_non_edit{
    padding-left: 13px;
    max-width: 660px;
    height: 180px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat;
    border-radius: 10px;
    background-color: #8EB9F7;
    border: none;
    color: #FFF;
}

.textarea_edit{
    padding-left: 13px;
    max-width: 660px;
    height: 180px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat;
    border-radius: 10px;
    background-color: #8EB9F7;
    border: none;
    color: #FFF;

    &:focus {
        outline: none;
        /* Убираем обводку при фокусе */
    }
}

.input_price_non_edit{
    padding-left: 13px;
    max-width: 150px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat;
    border-radius: 10px;
    background-color: #8EB9F7;
    border: none;
    color: #FFF;
}

.input_price_edit{
    padding-left: 13px;
    max-width: 150px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat;
    border-radius: 10px;
    background-color: #8EB9F7;
    border: none;
    color: #FFF;

    &:focus {
        outline: none;
        /* Убираем обводку при фокусе */
    }
}